.container{
    //height: 150px;
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
}
#grid{
  font-size:12px;
  width: 94%;
  padding-left: 5%;
}
#map{
    height: 400px;
    width: 100%;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
#barra{
  height: 100 px;
  width: 100%;
}